@model IEnumerable<Event>
@{
    ViewData["Title"] = "EventsCreation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet"  href="~/css/tableDesign.scss" asp-append-version="true" />
     <link rel="stylesheet"  href="~/css/tableDesign.css" asp-append-version="true" />
   
    <title>Events list</title>
</head>
   

<div class="container">
     <div class="createButton">
    <a   asp-controller="Event" asp-action="Upsert">Create New Event</a>
    </div>
<table id="tbldata" class="" style="width: 100%">
    <thead>
        <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Date</th>
                <th>Location</th>
                <th>Price</th>
                <th>Finished</th>
                <th>Slides</th>
                <th>NumberOfTickets</th>
                <th>Category</th>
                <th>Img</th>
                <th></th>
        </tr>
    </thead>
    
</table>

</div>

@section Scripts{
    <script src="~/js/EventTAble.js"></script>
}