/* @font-face {

    font-family: 'MontserratMedium';
    src: url('fonts/medium/Montserrat-Medium.ttf');
}


body {
    background-image: url("/Photos/Mainpage.jpg") !important;
}

.office {
    margin-top: 40px;
}



.howwestarted2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.team {
    margin: 100px 0px 0px 0px;
}

.card {
    width: max-content;
    border-radius: 5.67px;
    padding-bottom: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(#DE1749 60%, #FF2E63);
    box-shadow: 0 -1px 13px 0 #ff2e6270;
}

.cardcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



.cardcontent h3 {
    margin: 10px 0px;
    font-size: 20px;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'MontserratMedium';
}

.FPERSENTWIDTH {
    width: 50%;
}

.cardcontent p {
    margin: 8px 0px;
    box-sizing: border-box;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    font-family: 'MontserratMedium';
}

.cardcontent a {
    margin: 8px 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-family: 'MontserratMedium';
}

.socialMedia {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.socialMedia img {

    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.socialMedia a {
    padding-bottom: 10px;
    box-sizing: border-box;
    margin: 10px 10px 0px 10px;
    text-decoration: none;

}

.welcome p {
    text-align: center;
    color: #ffffff;

    font-family: 'MontserratMedium';
}

.first {
    font-size: 24pt;
    font-weight: 800;
}

.second {
    font-size: 14pt;
    opacity: 80%;
    font-weight: 300;
}

.aboutcodyle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}


.howwestartedtext p {
    font-size: 13pt;

}

.team h2 {
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    font-family: 'MontserratMedium';
    margin: 0px 0px 0px 0px;
}



@media only screen and (min-width: 750px) {
    .welcome {
        margin: 30px 0px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-content: center;
    }

   
    .howwestarted {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .howwestartedtext {
        width: 30%;
        margin: 0px 0px 0px 50px;
    }

    .whyus {
        text-align: center;
        margin-top: 50px;
        margin-left: 0px !important;
    }

    .whyus p {
        font-size: 16px;
    }

    .whyus h2 {
        font-size: 26px;
    }

    .CardBox {
        margin: 60px 0px 0px 0px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        justify-items: center;
    }


}



@media only screen and (max-width: 750px) {
    .welcome {
        margin: 20px 20px 0px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-content: center;
    }


    .welcome h2 {
        position: absolute;
        z-index: 3;
        font-family: 'MontserratMedium';
        font-size: 38px;
        color: #ffffff;
    }

    

    .howwestarted {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .howwestartedtext {
        text-align: center;
        width: 80%;
        margin: 0px 0px 0px 0px;
    }

    .CardBox {
        margin: 60px 0px 0px 0px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        justify-items: center;
    }
} */

.Welcome-Text {
    width: 60%;
}

.aboutcodyle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 8rem 14rem 0rem 14rem;
}

.Welcome-Text h1 {
    color: #FFF;
    font-size: 3.34063rem;
    font-family: Montserrat;
    font-weight: 500;
}

.Welcome-Text h2 {
    color: #FFF;
    font-size: 1.34063rem;
    font-family: Montserrat;
    font-weight: 500;
}

.About {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14rem 14rem 0rem 14rem;
    gap: 3rem;
}

.Mission-Values {
    color: #FFF;
    font-family: Montserrat;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10rem 14rem 0rem 14rem;
}

    .Mission-Values h2 {
        font-size: 2rem;
    }

.Grid-Missions {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.sup-Mission {
    display: flex;
    flex-direction: column;
    margin: 0rem 1.5rem;
}

    .sup-Mission p {
        font-size: 14pt;
        text-align: justify;
    }

    .sup-Mission h3 {
        font-size: 18pt;
    }


.Sup-Header {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.About-Text h2 {
    color: #FFF;
    font-size: 2rem;
    font-family: Montserrat;
    font-weight: 500;
}

.About-Text p {
    color: #FFF;
    width: 70%;
    font-size: 1.2rem;
    font-family: Montserrat;
    text-align: justify;
    font-weight: 300;
}

.About-Text-CSC h2 {
    color: #FFF;
    font-size: 2rem;
    font-family: Montserrat;
    font-weight: 500;
}

.About-Text-CSC p {
    color: #FFF;
    width: 90%;
    font-size: 1.2rem;
    font-family: Montserrat;
    text-align: justify;
    font-weight: 300;
}

.CSC-About {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 14rem 0rem 14rem;
    color: #FFF;
}

    .CSC-About h2 {
        font-size: 2.3rem;
    }

.About-c {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
