.emailconfirm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    margin: 60px 350px 90px 350px;
}
emailconfirm h1 {
    color: #ffffff !important;
    font-family: MontserratMedium;
}
emailconfirm p {
    color: #ffffff;
    font-family: MontserratMedium;
}
emailconfirm a {
    color: #ffffff;
    font-family: MontserratMedium;
    background-color: #FF2E63;
}