
@font-face {
    font-family: 'MontserratMedium';
    src: local('Montserrat-Medium'),url('../fonts/medium/Montserrat-Medium.ttf') format('truetype');
}
* {
    -webkit-tap-highlight-color: transparent;
    /*to stop blue highlight while clicking on mobile phones*/
}

@font-face {
    font-family: 'MontserratMedium';
    src: url('fonts/medium/Montserrat-Medium.ttf');
}

* {
    -webkit-tap-highlight-color: transparent;
    /*to stop blue highlight while clicking on mobile phones*/
}

.Events {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.heading {
    display: flex;
    flex-direction: column;
}


    .heading a {
        background: linear-gradient(#DE1749, #FF2E63);
        padding: 5px 15px 5px 15px;
        border-radius: 10px;
        font-size: 16px;
        width: fit-content;
        text-decoration: none;
        color: #ffffff;
        font-family: 'MontserratMedium';
        cursor: pointer;
    }

.EventSection h1 {
    text-align: center;
    color: #ffffff;
    height: 30px;
    font-size: 43px;
    font-family: 'MontserratMedium';
    margin: 0px 0px 40px 0px;
}

.eventBox a {
    text-decoration: none;
}

.Event {
    background: transparent;
    margin: 0px 40px 0px 40px;
}


@media only screen and (max-width: 1400px) {
  
    .welcomegrid {
        display: flex;
        margin: 50px 0px 0px 0px;
        justify-content: space-around;
        flex-direction: row-reverse;
        align-items: center;
    }

    .weclomephoto {
        display: flex;
        height: 480px;
    }

}

@media only screen and (min-width: 1400px) {
    .eventBox {
        margin: 60px 0px 0px 0px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        justify-items: center;
    }

    .EventSection {
        margin: 200px 0px 0px 0px;
    }

   

    .welcomegrid {
        display: flex;
        margin: 50px 0px 0px 0px;
        justify-content: space-around;
        flex-direction: row-reverse;
        align-items: center;
    }


    .weclomephoto {
        display: flex;
        height: 480px;
    }

}
@media only screen and (min-width: 885px) {
    .EventSection {
        margin: 140px 0px 0px 0px;
    }

    .EventImg {
        border-color: #FF2E63;
        height: 250px;
        border-style: solid solid none;
        border-radius: 5.67px 5.67px 0px 0px;
    }



    .Eventdate {
        display: flex;
        margin: 0px 0px 0px 0.5rem !important;
    }


    .EventSection h3 {
        width: 180px;
        color: #FF2E63;
        font-size: 18px;
        height: 30px;
        font-family: 'MontserratMedium';
        margin: 9px 0px 0px 0px;
    }

}
    /*--------------welcome-mobile--------*/

    @media only screen and (max-width: 885px) {
        .welcomegrid {
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            margin: 50px 0px 0px 8px;
            justify-content: space-around;
            align-items: center;
        }

        .welcome h1 {
            color: #ffffff;
            font-size: 40px;
            font-family: 'MontserratMedium';
        }

        .weclomephoto {
            height: 300px;
        }

        .heading a {
            background: linear-gradient(#DE1749, #FF2E63);
            padding: 5px 15px 5px 15px;
            border-radius: 10px;
            text-decoration: none;
            font-size: 16px;
            color: #ffffff;
            font-family: 'MontserratMedium';
            cursor: pointer;
        }

        .Eventinfo {
            display: flex;
            margin: 0px 0px 0px 30px;
            width: 200px;
        }

        .eventBox {
            margin: 40px 0px 0px 0px;
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            justify-items: center;
        }

        .EventSection {
            margin: 100px 0px 0px 0px;
        }

        .EventImg {
            height: 230px;
            border-color: #FF2E63;
            border-style: solid solid none;
            border-radius: 5.67px 5.67px 0px 0px;
        }

        .EventSection h3 {
            width: 200px;
            color: #FF2E63;
            font-size: 18px;
            height: 30px;
            font-family: 'MontserratMedium';
            margin: 9px 0px 0px 0px;
        }
    }

    .EventSection h2 {
        text-align: center;
        color: #ffffff;
        font-size: 43px;
        font-family: 'MontserratMedium';
        margin: 0px 0px 40px 0px;
    }

    .Events {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .EventSection h1 {
        text-align: center;
        color: #ffffff;
        height: 30px;
        font-size: 43px;
        font-family: 'MontserratMedium';
        margin: 0px 0px 40px 0px;
    }

    .eventBox a {
        text-decoration: none;
    }

    .Event {
        background: transparent;
        margin: 0px 40px 0px 40px;
    }

    .EventTicket {
        display: flex;
        justify-content: flex-start;
        border-radius: 5.67px 0px 5.67px 5.67px;
        background: #ffffff;
        box-sizing: border-box;
        max-height: 100px;
    }

        .EventTicket a {
            text-decoration: none !important;
        }


    .line {
        width: 15px;
        border-radius: 5px 0 0 5px;
        background: linear-gradient(#DE1749 60%, #FF2E63);
    }

    .Event a {
        text-decoration: none;
    }


    .Eventinfo {
        display: flex;
        margin: 0px 0px 0px 30px;
        width: 200px;
    }


    .Eventinfo {
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        margin: 0px !important;
        width: 100%;
        padding: 1rem 0rem;
    }

    .EventTitle h3 {
        margin: 0;
        font-family: 'MontserratMedium', sans-serif;
        font-size: 12pt;
        font-weight: 900;
        color: #FF2E63;
    }

    .Eventlocation, .Eventdate {
        display: flex;
        align-items: center;
    }

        .Eventlocation img,
        .Eventdate img {
            margin-right: 5px;
        }

        .Eventlocation p,
        .Eventdate p {
            margin: 0;
            font-family: 'MontserratMedium', sans-serif;
            font-size: 12px;
            font-weight: 900;
            color: #FF2E63;
        }

    .Title-Location {
        display: flex;
        width: 60%;
        padding: 0rem 0rem 0rem 0rem;
        flex-direction: column;
        gap: 1rem;
    }





