
@media only screen and (min-width: 885px) {
    .welcomegrid {
        display: flex;
        margin: 50px 0px 0px 0px;
        justify-content: space-around;
        flex-direction: row-reverse;
        align-items: center;
    }

    .getstarted {
        height: 40px;
        width: 100px;
        text-decoration: none;
    }

    iframe {
        margin: 0px;
        padding: 0px;
    }

    .welcometext {
        color: #ffffff;
        font-size: 60px;
        font-family: 'MontserratMedium';
    }


    .weclomephoto {
        height: 500px;
    }

    .heading a {
        background: linear-gradient(#DE1749, #FF2E63);
        padding: 5px 15px 5px 15px;
        border-radius: 10px;
        font-size: 22px;
        color: #ffffff;
        font-family: 'MontserratMedium';
        cursor: pointer;
    }

    .whatiscodyletext h2 {
        color: #ffffff;
        font-size: 43px;
        font-family: 'MontserratMedium';
    }

    .servicesMainPage {
        display: flex;
        margin: 80px 30px 0px 30px;
    }

    .servicesSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 6rem 0px 0px 0px;
    }

        .servicesSection h2 {
            text-align: center;
            color: #ffffff;
            font-size: 40px;
            font-family: 'MontserratMedium';
            margin: 0px 0px 0px 0px;
        }

    .textSide-Service {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

        .textSide-Service p,
        .textSide-Service h2 {
            font-family: 'MontserratMedium';
            color: #ffffff;
        }



        .textSide-Service h2 {
            font-size: 28pt !important;
        }


    .blogBox {
        margin: 60px 0px 0px 0px;
        display: flex;
        justify-content: center;
    }



    .whatiscodyletext img {
        height: 80px;
        margin: 0px 10px 0px 10px;
    }

    .eventBox {
        margin: 60px 0px 0px 0px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-items: center;
    }

    .EventSection {
        margin: 140px 0px 0px 0px;
    }

    .EventImg {
        border-color: #FF2E63;
        height: 250px;
        border-style: solid solid none;
        border-radius: 5.67px 5.67px 0px 0px;
    }



    .Eventdate {
        display: flex;
        margin: 0px 0px 0px 0.5rem !important;
    }


    .EventSection h3 {
        width: 180px;
        color: #FF2E63;
        font-size: 18px;
        height: 30px;
        font-family: 'MontserratMedium';
        margin: 9px 0px 0px 0px;
    }

    .Text-Pic-RoadmapSec {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .Text-RoadmapSec {
        width: 40%;
        color: #ffffff;
        font-family: 'MontserratMedium';
    }

        .Text-RoadmapSec h2 {
            font-size: 33px
        }

    .roadmapSection {
        width: 100%;
        margin: 150px 0px 0px 0px;
        margin-inline-start: auto;
        margin-inline-end: auto;
        padding-inline-start: 1rem;
        padding-inline-end: 1rem;
        background: linear-gradient(#252A34, #FF2E63, #FF2E63, #252A34);
    }



    .Roadslinks {
        margin: 30px 100px 0px 100px;
        display: grid;
        justify-items: center;
        grid-gap: 80px;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

        .Roadslinks a {
            cursor: pointer;
            text-decoration: none;
            color: inherit;
            background: #252A34;
            padding: 30px;
            max-width: 200px;
            border-radius: 10px;
            position: relative;
        }

        .Roadslinks h2 {
            font-size: 28px;
            font-family: 'MontserratMedium';
            margin-bottom: 5px;
            color: #ffffff;
        }

        .Roadslinks p {
            color: #ffffff;
            font-size: 16px;
            font-family: 'MontserratMedium';
        }
}

.right img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.roadmapSection {
    padding: 80px 0px 80px 0px;
}


@media only screen and (max-width: 480px) {

    .whatiscodyletext img {
        height: 40px;
        margin: 0px 10px 0px 10px;
    }
}

@media only screen and (max-width: 885px) {
    .servicesSection h2 {
        text-align: center;
        color: #ffffff;
        font-size: 40px;
        font-family: 'MontserratMedium';
        margin: 0px 0px 0px 0px;
    }

    .servicesSection {
        margin: 6rem 0px 0px 0px;
    }
    .welcomegrid {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin: 50px 0px 0px 0px;
        justify-content: space-around;
        align-items: center;
    }

    .roadmapSection {
        width: 100%;
        margin: 150px 0px 0px 0px;
        margin-inline-start: auto;
        margin-inline-end: auto;
        background: linear-gradient(#252A34, #FF2E63, #FF2E63, #252A34);
    }

    .Text-Pic-RoadmapSec {
        display: flex;
        justify-content: center;
    }

    .Text-RoadmapSec {
        width: 60%;
        color: #ffffff;
        text-align: center;
        font-family: 'MontserratMedium';
    }

        .Text-RoadmapSec h2 {
            font-size: 33px
        }


    .Roadslinks {
        margin: 30px 0px 0px 0px;
        display: grid;
        justify-items: center;
        grid-gap: 80px;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .map {
        display: none;
    }

    .Roadslinks h2 {
        font-size: 28px;
        font-family: 'MontserratMedium';
        margin-bottom: 5px;
        color: #ffffff;
    }

    .Roadslinks a {
        cursor: pointer;
        text-decoration: none;
        color: inherit;
        max-width: 200px;
        background: #252A34;
        padding: 30px;
        border-radius: 10px;
        position: relative;
    }

    .Roadslinks p {
        color: #ffffff;
        font-size: 16px;
        font-family: 'MontserratMedium';
    }


    .weclomephoto {
        height: 300px;
    }

    .welcometext {
        color: #ffffff;
        font-size: 40px;
        font-family: 'MontserratMedium';
    }

    .heading a {
        background: linear-gradient(#DE1749, #FF2E63);
        padding: 5px 15px 5px 15px;
        border-radius: 10px;
        font-size: 18px;
        color: #ffffff;
        font-family: 'MontserratMedium';
        cursor: pointer;
    }

    .whatiscodyletext h2 {
        color: #ffffff;
        font-size: 33px;
        font-family: 'MontserratMedium';
    }

    .servicesMainPage {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin: 80px 30px 0px 30px;
        justify-items: center;
    }

    .blogBox {
        margin: 40px 0px 0px 0px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        justify-items: center;
    }

    .service {
        text-decoration: none;
        border: solid;
        border-color: #FF2E63;
        border-radius: 10px;
        width: 100%;
        margin: 10px 80px 10px 80px;
        padding: 20px 0px 10px 0px;
    }

    .whatiscodyletext img {
        height: 50px;
        margin: 0px 10px 0px 10px;
    }

    .EventSection h2 {
        font-size: 33px !important;
    }

    .BlogSection h2 {
        font-size: 33px !important;
    }

    .eventBox {
        margin: 40px 0px 0px 0px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        justify-items: center;
    }

    .EventSection {
        margin: 100px 0px 0px 0px;
    }

    .EventImg {
        height: 230px;
        border-color: #FF2E63;
        border-style: solid solid none;
        border-radius: 5.67px 5.67px 0px 0px;
    }

    .EventSection h3 {
        width: 200px;
        color: #FF2E63;
        font-size: 18px;
        height: 30px;
        font-family: 'MontserratMedium';
        margin: 9px 0px 0px 0px;
    }
}

@media only screen and (max-width: 370px) {

    .blog {
        margin: 0px 0px 0px 0px !important;
    }
}

.align-cen {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

.boldtext {
    text-align: center;
    color: #ffffff;
    font-size: 43px;
    font-family: 'MontserratMedium';
    margin: 0px 0px 0px 0px;
}



.WhatIsCodyle {
    margin: 180px 0px 40px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.whatiscodyletext {
    display: flex;
    align-items: center;
}

.line {
    border-radius: 0px 0px 0px 5px;
    width: 15px;
    background: linear-gradient(#DE1749 60%, #FF2E63);
}

.Eventinfo {
    display: flex;
    margin: 0px 0px 0px 30px;
    width: 200px;
}



.BlogSection a {
    text-decoration: none;
    color: #ffffff;
}

.BlogSection {
    margin: 120px 0px 0px 0px;
}

    .BlogSection h2 {
        text-align: center;
        color: #ffffff;
        font-size: 40px;
        font-family: 'MontserratMedium';
    }

    .BlogSection p {
        font-size: 14px;
        font-family: 'MontserratMedium';
        margin: 15px 0px 0px 20px;
        color: #252A34;
    }

    .BlogSection h3 {
        width: 250px;
        color: #252A34;
        font-size: 18px;
        font-family: 'MontserratMedium';
        margin: 15px 0px 0px 20px;
    }

.blog {
    margin: 0px 40px 0px 40px;
    width: max-content;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 20px;
    background: linear-gradient(#DE1749 60%, #FF2E63);
    box-shadow: 0 -1px 13px 0 #ff2e6270;
}

.EventSection h2 {
    text-align: center;
    color: #ffffff;
    font-size: 43px;
    font-family: 'MontserratMedium';
    margin: 0px 0px 40px 0px;
}

.Events {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.EventSection h1 {
    text-align: center;
    color: #ffffff;
    height: 30px;
    font-size: 43px;
    font-family: 'MontserratMedium';
    margin: 0px 0px 40px 0px;
}

.eventBox a {
    text-decoration: none;
}

.Event {
    background: transparent;
    margin: 0px 40px 0px 40px;
}

.EventTicket {
    display: flex;
    justify-content: flex-start;
    border-radius: 5.67px 0px 5.67px 5.67px;
    background: #ffffff;
    box-sizing: border-box;
    max-height: 100px;
}

    .EventTicket a {
        text-decoration: none !important;
    }


.line {
    width: 15px;
    border-radius: 5px 0 0 5px;
    background: linear-gradient(#DE1749 60%, #FF2E63);
}

.Event a {
    text-decoration: none;
}

.Eventinfo {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    margin: 0px !important;
    width: 100%;
    padding: 1rem 0rem;
}

.EventTitle h3 {
    margin: 0;
    font-family: 'MontserratMedium', sans-serif;
    font-size: 12pt;
    font-weight: 900;
    color: #FF2E63;
}

.Eventlocation, .Eventdate {
    display: flex;
    align-items: center;
}

    .Eventlocation img,
    .Eventdate img {
        margin-right: 5px;
    }

    .Eventlocation p,
    .Eventdate p {
        margin: 0;
        font-family: 'MontserratMedium', sans-serif;
        font-size: 12px;
        font-weight: 900;
        color: #FF2E63;
    }

.Title-Location {
    display: flex;
    width: 60%;
    padding: 0rem 0rem 0rem 0rem;
    flex-direction: column;
    gap: 1rem;
}


body {
    background-color: #252A34;
}

a {
    text-decoration: none;
}

.Services-Section {
    margin: 6rem 0rem 0rem 0rem;
}

.service-Section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 4rem;
    margin: 2rem 14rem;
}

.service1 {
    position: relative;
    overflow: hidden;
    box-shadow: #FF2E63 1px 1px 12px;
    background-color: #262a35;
    padding: 2rem 1rem;
    border: 2px solid #FF2E63;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    transition: all 1s ease;
}

    .service1 h3 {
        color: #ffffff;
        font-family: 'MontserratMedium';
        font-size: 24pt;
        margin: 10rem 0 0 0;
        transition: margin-top 1s ease;
    }

.Services-Section h2 {
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    font-family: 'MontserratMedium';
    margin: 0px 0px 0px 0px;
}


.service1 a {
    background-color: #ffffff;
    padding: 0.4rem 1rem;
    border-radius: 27px;
    color: #FF2E63;
    font-size: 14pt;
    font-weight: 600;
    font-family: 'MontserratMedium';
}

.service1-unvisible p {
    font-size: 12pt;
    color: #252A34;
    font-weight: 600;
    margin: 1.2rem 0 3rem 0;
}

.service1:hover .service1-unvisible {
    display: block;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

@media only screen and (max-width: 750px) {
    .service-Section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem 4rem;
        margin: 2rem 1rem;
    }

    .service1 h3 {
        color: #ffffff;
        font-family: 'MontserratMedium';
        font-size: 24pt;
        margin: 0rem !important;
        transition: margin-top 1s ease;
    }

    .service1 {
        position: relative;
        overflow: hidden;
        padding: 2rem 1rem;
        border: 2px solid #FF2E63;
        height: 10rem;
        display: flex;
        border-radius: 2rem !important;
        background-color: #FF2E63 !important;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        transition: all 1s ease;
    }

    .service1-unvisible p {
        font-size: 10pt;
        color: #252A34;
        font-weight: 600;
        margin: 1.2rem 0 1.2rem 0;
    }
}