
@font-face {
    font-family: 'MontserratMedium';
    src: local('Montserrat-Medium'),url('../fonts/medium/Montserrat-Medium.ttf') format('truetype');
}
/*--------------welcome-web browser--------*/



@media only screen and (min-width: 750px) {
    .welcomegrid {
        display: flex;
        margin: 60px 0px 0px 0px;
        justify-content: space-around;
        flex-direction: row-reverse;
        align-items: center;
    }

    .weclomephoto {
        height: 440px;
    }

    .heading {
        width: 34%;
    }

    .servicesSection {
        display: flex;
        margin: 112px 0px 0px 0px;
        justify-content: space-around;
    }
}

/*--------------welcome-mobile--------*/
@media only screen and (max-width: 750px) {
    .welcomegrid {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin: 50px 0px 0px 0px;
        justify-content: space-around;
        align-items: center;
    }

    .weclomephoto {
        height: 300px;
    }



    .heading a {
        padding: 5px 15px 5px 15px;
        border-radius: 10px;
        font-size: 16px;
        color: #ffffff;
        font-family: 'MontserratMedium';
        cursor: pointer;
    }

    .servicesSection {
        display: grid;
        margin: 112px 0px 0px 0px;
        grid-gap: 80px;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}


.servicesSection h1 {
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    font-family: 'MontserratMedium';
    width: 20%;
    margin: 0px 0px 0px 0px;
}

.boldtext {
    text-align: center;
    color: #ffffff;
    font-size: 43px;
    font-family: 'MontserratMedium';
    margin: 0px 0px 0px 0px;
}

.servicesMainPage {
    display: flex;
    max-width: fit-content;
    margin: 80px 30px 0px 30px;
}

.service {
    box-shadow: 0 -1px 10px 0 #ff2e6270;
    width: 340px;
    height: 100px;
    background: linear-gradient(#DE1749, #FF2E63);
    border-radius: 16px;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


    .service h3 {
        margin: 0px 0px 0px 30px;
        width: 80%;
        color: #ffffff;
        font-family: 'MontserratMedium';
        text-align: center;
    }

.servicesSection a {
    cursor: pointer;
    display: contents;
    text-decoration: none;
}
