@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<head>
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
</head>
<body>
    <section class="RegisterSection2">
        <div class="RegisterForm">
        <h1 style="text-align:center;">Confirm email</h1>
            <p style="text-align:center;">Your email got verified.<br />ENJOY CODYLE NOW!</p>
            <a asp-area="User" asp-controller="Home" asp-action="index" class="atag" style="text-align:center; margin-bottom: 20px;">Go to Homepage</a>
    </div>
    </section>

</body>

