@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}
<head>
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/logins.css" asp-append-version="true" />
    <title>Login</title>

</head>
<div class="infos">
<h2 id="external-login-title">Associate your @Model.ProviderDisplayName account.</h2>


<p id="external-login-description" class="text-info">
    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.<br />
        Please enter an email address for this site below and click the<br />Register button to finish
    logging in.
    </p>
</div>

<div class="LoginSection">
        <form class="form signin" asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
            <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" aria-required="true" />
               
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating">
            <label asp-for="Input.Surname"></label>
                <input asp-for="Input.Surname" class="form-control" aria-required="true" />
    
                <span asp-validation-for="Input.Surname" class="text-danger"></span>
            </div>
           
            <div class="form-floating">
                      <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" />
          
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating">
            <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="email" />
 
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        <button type="submit" class="loginbut">Register</button>
        </form>
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
