<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <link rel="icon" href="Photos/pageicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
</head>
<body>

    <section class="successfulSection">
        <div class="successful">
            <img class="logoIcon" src="photos/true.png" alt="" width="80px">
            <h1>Success!</h1>
            <p>
                Your payment was successful.
                A receipt for this purchase has been sent to your email
            </p>
            <a>Home page</a>

        </div>
    </section>
</body>
</html>