@model IEnumerable<Attendence>
@{
    ViewData["Title"] = "EventsCreation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet"  href="~/css/tableDesign.scss" asp-append-version="true" />
     <link rel="stylesheet"  href="~/css/tableDesign.css" asp-append-version="true" />
     <script src="~/js/tableJs.js"></script>
    <title>Events list</title>
</head>
   

<div class="container">
     <div class="createButton">
        <a asp-controller="Attendence" asp-action="Upsert">Create New Event</a>
    </div>
<table id="tbldata" class="" style="width: 100%">
    <thead>
        <tr>
                <th>Id</th>
                <th>Name</th>
                <th>LastName</th>
                <th>typeOfAttendence</th>
                <th>EventId</th>
                <th>Event</th>
                <th></th>
        </tr>
    </thead>
    
</table>

</div>

@section Scripts{
    <script src="~/js/Attendencetable.js"></script>
}