@model IEnumerable<Event>
@{
    ViewData["Title"] = "EventsCreation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet"  href="~/css/tableDesign.scss" asp-append-version="true" />
     <link rel="stylesheet"  href="~/css/tableDesign.css" asp-append-version="true" />
     <script src="~/js/tableJs.js"></script>
    <title>Events list</title>
</head>
   

<div class="container">
     <div class="createButton">

    </div>
<table id="tbldata" class="" style="width: 100%">
    <thead>
        <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Student Id</th>
                <th>Student Email</th>
                <th>Phone Number</th>
                <th></th>
        </tr>
    </thead>
    
</table>

</div>

@section Scripts{
    <script src="~/js/ClubMem.js"></script>
}