

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About us</title>

    <meta name="description" content="Codyle Team">
    <meta name="keywords" content="Codyle, Team, Aboutus">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/aboutus.css" asp-append-version="true">
</head>





<body>
    <div id="balls-container"></div>

 




    <section class="aboutcodyle">
        <div class="Welcome-Text">
            <h1>WELCOME TO CODYLE</h1>
            <h2><i>“Unleashing Potential, Inspiring Success”</i></h2>
        </div>

        <img alt="Codyle" draggable="false" src="~/Photos/logo-01.png" height="200px" alt="office">
    </section>

    <section class="About">
        <div class="About-Text">
            <h2>Welcome to Codyle:</h2>

            <p>
                At Codyle, we are passionate about delivering cutting-edge technology solutions and providing
                exceptional
                services to our clients. With a focus on web development, UI/UX design, and
                technology consulting, we strive to meet the unique needs of each project and exceed expectations.
            </p>

        </div>

        <img src="Photos/twodots.png" alt="">

    </section>

    <section class="Mission-Values">
        <h2>Mission & Values</h2>
        <div class="Grid-Missions">

            <div class="sup-Mission">
                <div class="Sup-Header">
                    <img src="Photos/quality.png" alt="">
                    <h3>Quality :</h3>
                </div>

                <p>
                    We are dedicated to delivering high-quality solutions that meet the highest standards of performance,
                    functionality, and user experience.
                </p>
            </div>

            <div class="sup-Mission">
                <div class="Sup-Header">
                    <img src="Photos/customer.png" alt="">
                    <h3>Customer Focus :</h3>
                </div>

                <p>
                    Our clients are at the center of everything we do. We listen, understand their needs, and provide
                    tailored solutions that drive their business forward.
                </p>
            </div>

            <div class="sup-Mission">
                <div class="Sup-Header">
                    <img src="Photos/innovation.png" alt="">
                    <h3>Innovation :</h3>
                </div>

                <p>
                    We embrace innovation and continually explore new technologies and approaches to deliver unique and
                    forward-thinking solutions.
                </p>
            </div>

        </div>
    </section>


    <section class="CSC-About">
        <h2>Codyle Student Club:</h2>

        <div class="About-c">
            <img src="Photos/CSc.png" height="160" alt="">

            <div class="About-Text-CSC">


                <p>
                    At Codyle, we are passionate about delivering cutting-edge technology solutions and providing
                    exceptional
                    services to our clients. With a focus on web development, UI/UX design, and
                    technology consulting, we strive to meet the unique needs of each project and exceed expectations.
                </p>

            </div>
        </div>



    </section>

    


    <script src="js/show-on-scroll.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="balls.js"></script>
    <script>
        $(document).ready(function () {
            var ballsContainer = $('#balls-container');

            for (var i = 0; i < numBalls; i++) {
                var ball = $('<div class="ball"></div>');
                ballsContainer.append(ball);

                var xPos = Math.floor(Math.random() * $(window).width());
                var yPos = Math.floor(Math.random() * $(window).height());
                var angle = Math.random() * 360;

                ball.css({
                    left: xPos + 'px',
                    top: yPos + 'px',
                    transform: 'rotate(' + angle + 'deg)'
                });
            }
        });
    </script>
</body>

