

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About us</title>

    <meta name="description" content="Codyle Team">
    <meta name="keywords" content="Codyle, Team, Aboutus">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/aboutus.css" asp-append-version="true">
</head>

<section class="welcome">

    <p class="first">
        Codyle makes it easy<br />__all in one platform!
    </p>
    <p class="second">Innovate, connect, inspire</p>


</section>

<section class="aboutcodyle">
    <div class="howwestarted">
        <div class="howwestart"> <img alt="Codyle" draggable="false" src="~/Photos/logo2.png" alt="office"></div>
        <div class="howwestartedtext">
            <h1>How we started?</h1>
            <p>
                We are Codyle – the bewildering development company made for you.
                As university students we have always wanted a platform that can provide technology related events alongside relatable blogs of self-improvement and more. In addition, transforming what we love into services others can benefit from. That was when Codyle was born, it is a platform we developed on our own that satisfies the needs of university students, business starters, business owners and even technology enthusiasts.
            </p>
        </div>

    </div>




</section>
<div class="howwestarted">
    <div class="howwestartedtext whyus">
        <h2>Why choose us?</h2>

        <p>
            Because we’ll understand your brand, we’re easy to work with and we focus on results. Before we even start performing our services, we think about your tone of voice and value proposition, so that every move we make builds your brand. For us, it’s all about what adds value for you and your business.
        </p>

    </div>
</div>@*
<section class="team">
    <h1>Codyle team :</h1>
    <div class="CardBox">

       

        <div class="card">

            <img alt="Mohammad Soqar" src="~/Photos/team/Mohammad.png" height="350">
            <div class="cardcontent">
                <h3>Mohammad Soqar</h3>
                <p><strong>Founder</strong></p>
                <p>Software Enginneer student at<br>Uskudar University</p>
                <a href="mailto: mohammad@codyle.com">mohammad@codyle.com</a>
                <div class="socialMedia">
                   
                    <a href="https://www.instagram.com/mohammad_soqar/" target="_blank">
                        <img alt="Mohammad Soqar Instegram" src="~/Photos/socialMedia/Instegram.png" height="30px">
                    </a>

                    <a href="https://www.facebook.com/mohammad.hsoqar/" target="_blank">
                        <img alt="Mohammad Soqar Facebook" src="~/Photos/socialMedia/Facebook.png" height="30px">
                    </a>
                    <a href="https://twitter.com/SoqarMohammad" target="_blank">
                        <img alt="Mohammad Soqar Twitter" src="~/Photos/socialMedia/Twitter.png" height="34px">
                    </a>
                    <a href="https://www.mohammadsoqa.com/" target="_blank">
                        <img alt="Mohammad Soqar Website" src="~/icons/website.png" height="30px">
                    </a>

                </div>
            </div>
        </div>
        <div class="card">

            <img alt="Abdinasir Ali" src="~/Photos/team/Samir.png" height="350">
            <div class="cardcontent">
                <h3>Abdinasir Ali</h3>
                <p><strong>Co-Founder</strong></p>
                <p>Software Enginneer student at<br>Uskudar University</p>
                <a href="mailto: abdinasir@codyle.com">abdinasir@codyle.com</a>
                <div class="socialMedia">
                    <a href="https://www.instagram.com/being_xaaji/" target="_blank">
                        <img alt="Abdinasir Ali Instegram" src="~/Photos/socialMedia/Instegram.png" height="30px">
                    </a>
                    <a href="https://www.facebook.com/abdinasirka121" target="_blank">
                        <img alt="Abdinasir Ali Facebook" src="~/Photos/socialMedia/Facebook.png" height="30px">
                    </a>


                </div>
            </div>
        </div>
        <div class="card">

            <img alt="Sarah Harb" src="~/Photos/team/Sarah.png" height="350">
            <div class="cardcontent">
                <h3>Sarah Harb</h3>
                <p><strong>Co-Founder</strong></p>
                <p>Software Enginneer student at<br>Uskudar University</p>
                <a href="mailto: sara@codyle.com">sara@codyle.com</a>
                <div class="socialMedia">
                    <a href="https://www.instagram.com/sarahharb16/" target="_blank">
                        <img alt="Sarah Harb Instegram" src="~/Photos/socialMedia/Instegram.png" height="30px">
                    </a>
                    <a href="https://www.facebook.com/sarahamraly" target="_blank">
                        <img alt="Sarah Harb Facebook" src="~/Photos/socialMedia/Facebook.png" height="30px">
                    </a>


                </div>
            </div>
        </div>

    </div>
</section>*@
