<head>
    <link rel="stylesheet" href="~/css/ServicesView.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="description" content="Web Development Service">
    <meta name="keywords" content="Web development">
    <title>Graphic Design</title>
</head>
<section class="header">
    <section class="welcome-section">
        <div class="bg-text-container">
            <div class="animate-text">
                <span>Best Brand&nbsp;</span>
                <span>Best Brand&nbsp;</span>
            </div>
            <div class="animate-text left">
                <span>Best Brand&nbsp;</span>
                <span>Best Brand&nbsp;</span>
            </div>
        </div>


        <div class="container-text">
            <div class="col">
                <h1>Graphic Design</h1>
                <p>
                    <mark>
                        You want to enter a world full of Creativity ? CODYLE is your journey guidance
                    </mark>
                </p>
            </div>
        </div>
    </section>
</section>

<div class="glow">
    <p style="color:transparent;">s</p>
</div>


<script src="~/js//newpage.js"></script>


<section class="Section-provide">
    <img alt="web development" src="~/Photos/logo2.png">
    <div class="text-right-side">
        <h2>What we provide?</h2>
        <ul>
            <li>Logos and branded elements</li>
            <li>Business cards, letterhead & envelopes</li>
            <li>Brochures, rack cards & booklets</li>
            <li>Posters, banners and signage</li>
          
        </ul>
    </div>
</section>

<section class="Section-provide-two">
    <p>
        Our Graphic Design services cover a wide range of products – brochures, business cards, 
        publications, mailers, posters and billboards – we’ve pretty much designed it all. 
        So what are you waiting for ?!
    </p>
</section>

<a asp-controller="Services" asp-action="UpsertB">
    <div class="lets-go-btn">
        <div class="button" id="button-3">
            <div id="circle"></div>
            <p>Let's Go!</p>
        </div>
    </div>
</a>

