<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="~/css/Thanks.css" asp-append-version="true" />
</head>
<body>
    <section class="successfulSection">
        <div class="successful">
            <img class="logoIcon" src="~/photos/uskudar-universitesi_2049917.png" alt="" width="80px">

            <h1 style="font-size :19px !important; text-align:center;">Uskudar University Time!</h1>
            <p>
                Now you need to join on Uskudar University official website :)
            </p>
            <a asp-action="Thankyou" asp-controller="Home" onclick="window.open('https://sks.uskudar.edu.tr/ogrenci-kulupleri#heading8', '_blank');" id="join-us-btn">Join Now!</a>


        </div>
    </section>
</body>
