
@{
    ViewData["Title"] = "RoadMaps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
      <link rel="stylesheet" href="~/css/Roadmaps.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="description" content="Why you need Roadmaps">
    <meta name="keywords" content="Programming, Roadmap, Roadmaps">
    <title>Roadmaps</title>
</head>
<section class="welcome show-on-scroll">

    <div class="welcomegrid">
        <div class="main-photo">
            <img class="weclomephoto" src="~/Photos/welcomeRoadmaps.webp" alt="Roadmap page" height="400"
                 draggable="false">
        </div>
        <div class="heading">
            <h1>Roadmaps</h1>
            <p class="welcometext">Why do you need Roadmaps ? </p>
            <p class="welcometext2">
                A roadmap for any skill you want to learn is just like using Google Maps to
                reach your destination, it guides you through the correct learning path without wasting time
            </p>
        </div>
    </div>
</section>

    <section class="roadmapSection">
        <div class="Roadslinks">
        <a target="_blank"
           href="https://coggle.it/diagram/Yz306HjkbLZ-rYy5/t/frontend/13d15b902239ca4d8d2d08af166ff3bf49a441442e2ed6b76ef9074882318300">

            <h2>Frontend</h2>
            <p>Step by step to become a frontend developer</p>

        </a>

        <a target="_blank"
           href="https://coggle.it/diagram/YzNgxECwZkiUmNRr/t/backend/2db9ae95d8460d01732a724b9953137663f4b9dc14a32faacb3522eef665611c">

            <h2>Backend</h2>
            <p>Step by step to become a backend developer</p>

        </a>

        <a target="_blank"
           href="https://coggle.it/diagram/YzQOQnjkbLZ-bq-9/t/java/80d628d1cf7544a10279ece16085bb485aa50dab7e94bc79342f4d18981dec1d">

            <h2>Java</h2>
            <p>Step by step to become a Java developer</p>

        </a>

        <a target="_blank"
           href="https://coggle.it/diagram/YzQOI3jkbLZ-bon1/t/react/9e22efa1e4f9e2deeefa168af98a77c31c5d2cd617dced6bd7d0339b8e122961">

            <h2>React</h2>
            <p>Step by step to become a React developer</p>

        </a>

        <a target="_blank"
           href="https://coggle.it/diagram/YzQOEOfA2wMrvnwU/t/python/8d74cf93441090ad607fc542a8e7f0c04129e03f0309f44eabf89215466ae290">

            <h2>Python</h2>
            <p>Step by step to become a python developer</p>

        </a>

        <a target="_blank"
           href="https://coggle.it/diagram/YzOKhUCwZkiUthYJ/t/blockchain">

            <h2>Blockchain</h2>
            <p>Step by step to become a blockchain developer</p>

        </a>
        </div>
    </section>

