
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
      <link rel="stylesheet" href="~/css/Services.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="description" content="Codyle Services">
    <meta name="keywords" content="Codyle, Service, Services, Programming, Graphic design">
    <title>Services</title>
</head>

<section class="welcome show-on-scroll">
    <div class="welcomegrid">
        <div class="main-photo">

            <img class="weclomephoto" src="~/Photos/WcomeServices.webp" alt="Services page" height="360">
        </div>
        <div class="heading">
            <h1>Services</h1>
            <p class="welcometext">
                Why choose us ?

            </p>
            <p class="welcometext2">
                We deliver efficient work services with creativity adding more value to your
                Business
            </p>
        </div>
</section>


             <!-----------------------Services----------------------------->

  <section class="servicesSection">
  
    <div class="servicesMainPage">
        <a asp-controller="Home" asp-action="WebDevelopment" asp-area="User">
      <div class="service webDev">


                <img src="/Photos/webDev2.png" height="100px" alt="Web Development">
          <h3>Web Development</h3>
     
      </div>
        </a>
    </div>

    <div class="servicesMainPage">

        <a asp-controller="Home" asp-action="GraphicDesign" asp-area="User">
      <div class="service webDev">


                <img src="/Photos/graphicDesign2.png" height="100px" alt="Graphic Design">
          <h3>Graphic Design</h3>
       
      </div>
      </a>
    </div>

    <div class="servicesMainPage">
        <a asp-controller="Home" asp-action="SMManagement" asp-area="User" >
      <div class="service webDev">


                <img src="/Photos/SocialMedia.png" height="100px" alt="Social media management">
          <h3>Social Media Management</h3>
        
      </div>
     </a>
    </div>
  </section>

