<head>
    <link rel="stylesheet" href="~/css/ServicesView.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ServicesViewss.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="description" content="Social Media Management">
    <meta name="keywords" content="Social Media Management">
    <title>Social Media Management</title>
</head>
<section class="header">
    <section class="welcome-section">
        <div class="bg-text-container">
            <div class="animate-text">
                <span>Best Brand&nbsp;</span>
                <span>Best Brand&nbsp;</span>
            </div>
            <div class="animate-text left">
                <span>Best Brand&nbsp;</span>
                <span>Best Brand&nbsp;</span>
            </div>
        </div>


        <div class="container-text">
            <div class="col">
                <h1>Social Media Management</h1>
                <p>
                    <mark>
                        Whatever your marketing goals, our team is on hand to make them a reality.
                    </mark>
                </p>
            </div>
        </div>
    </section>
</section>

<div class="glow">
    <p style="color:transparent;">s</p>
</div>


<script src="~/js//newpage.js"></script>


<section class="Section-provide">
    <img alt="web development" src="~/Photos/logo2.png">
    <div class="text-right-side">
       
        <ul >
            <li>
                Your social media will be managed by
                a dedicated professionals
            </li>
            <li>
                We will track which posts increased
                interactions and engagement so we’ll be
                able to craft more like them
            </li>
            <li>Crafting dedicated posts to each and every platform</li>
            <li>We’ll run social media campaigns to increase your user base and keep them sticky!</li>

        </ul>
    </div>
</section>

<section class="Section-provide-two">
    <p>
        We offer full-service social media management services. 
        We transform your social media presence with high-quality content, 
        engagement-monitoring and increased followers.
        In order for followers to convert into customers,
        they need to become more familiar with your brand, see your content often and gain value from it.
    </p>
</section>

<a asp-controller="Services" asp-action="UpsertS">
    <div class="lets-go-btn">
        <div class="button" id="button-3">
            <div id="circle"></div>
            <p>Let's Go!</p>
        </div>
    </div>
</a>

