<head>
    <link rel="stylesheet" href="~/css/ServicesView.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="description" content="Web Development Service">
    <meta name="keywords" content="Web development">
    <title>Web Development</title>
</head>


<section class="header">
<section class="welcome-section">
    <div class="bg-text-container">
        <div class="animate-text">
            <span>Best design&nbsp;</span>
            <span>Best design&nbsp;</span>
        </div>
        <div class="animate-text left">
            <span>Best design&nbsp;</span>
            <span>Best design&nbsp;</span>
        </div>
    </div>


    <div class="container-text">
        <div class="col">
            <h1>Web Development</h1>
            <p>
                <mark>
                    You want to take your business to the digital world ? CODYLE is the answer. We deliver efficient work
                    services with creativity adding more value to your Business
                </mark>
            </p>
        </div>
    </div>
</section>
</section>
 
<div class="glow">
    <p style="color:transparent;">s</p>
</div>


<script src="~/js//newpage.js"></script>


<section class="Section-provide">
    <img alt="web development" src="~/Photos/logo2.png" >
    <div class="text-right-side">
        <h2>What we provide?</h2>
        <ul>
            <li>Front-End & Back-End development</li>
            <li>Fully responsive design</li>
            <li>Mobile friendly websites</li>
            <li>Search Engine optimized (SEO) websites</li>
            <li>Flawless design and seamless user experience</li>
        </ul>
    </div>
</section>

<section class="Section-provide-two">
    <p>
       We provide web application development services that accurately meet your expectations
       and match the specific requirements of your business, with utmost effort and attention to detail.
       We offer a comprehensive suite of web design services to enhance your website marketing efforts,
       from market research and analytics to user analysis and conversion rate optimization.
    </p>
</section>

 <a asp-controller="Services" asp-action="Upsert">
        <div class="lets-go-btn">
            <div class="button" id="button-3">
                <div id="circle"></div>
                <p>Let's Go!</p>
            </div>
            </div>
    </a>
