@page
@model PersonalDataModel
@inject SignInManager<IdentityUser> SignInManager

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
</head>


<div class="profile">
    <div class="linksSide">
        <div class="links">

            <a asp-page="./Index"><img class="anchorImg" draggable="false" src="~/Photos/icons/profile.png" height="30px">Profile</a>
        </div>

        <div class="links">
            <a asp-page="./ChangePassword">
                <img class="anchorImg" draggable="false" src="~/Photos/icons/password.png" height="30px">Password
            </a>
        </div>
        @if (hasExternalLogins)
        {
            <div class="links">

                <a asp-page="./ExternalLogins"><img class="anchorImg" draggable="false" src="~/Photos/icons/external.png" height="30px">External logins</a>
            </div>
        }




        <div class="links">

            <a asp-page="./PersonalData">  <img class="anchorImg" draggable="false" src="~/Photos/icons/datainfo.png" height="30px">Personal data</a>
        </div>

        <div class="links">

            <a href="mailto: support@codyle.com"><img class="anchorImg" draggable="false" src="~/Photos/icons/support.png" height="30px">Support</a>
        </div>


        <div class="links">

            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit">  <img class="anchorImg" draggable="false" src="~/Photos/icons/logout.png" height="30px">Logout</button>
            </form>


        </div>

    </div>
    <div class="inputSide">
      
        <form class="WebForm" id="download-data" asp-page="DownloadPersonalData" method="post">
            <h1>Personal Data</h1>
            <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
            <p style="color:#FF2E63; font-size:16px;">
                <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
            </p>
            <button class="btn btn-primary" type="submit">Download</button>
            <a id="delete" asp-page="DeletePersonalData" class="DeleteButton">Delete Account</a>
        </form>
       
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
